[A-Z]*/**
.Trash/**
bin/**
misc/**
projects/**

.config/**
!.config/git/
!.config/git/global.ignore

.atom/**
.gnupg/**
.local/**
.npm/**
.nvm/**
.ssh/**
 
.bash_history 
.bash_sessions 
.brewfile
.npmrc

.DS_Store
