Applications/**
Archive/**
Desktop/**
Documents/**
Downloads/**
[gG]it/**
Library/**
Movies/**
Music/**
Pictures/**
Public/**

.gnupg/**
.ssh/**
.config/**
!.config/git/
!.config/git/global.ignore
 
.bash_history 
.bash_sessions 
.dotfiles
