# ~/.gitconfig (Linux server)
#
#   This is Git's per-user configuration file.
#
#     Neel Yadav
#	  07.07.2021


[core]
	excludesFile = ~/.config/git/ignore
[user]
	name = Neel Yadav
	email = mail@neelyadav.com
	signingkey = ED84CBAAA8A7B576
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[submodule]
	recurse = true
[alias]
	adog = log --all --decorate --oneline --graph
	uncommit = reset --soft HEAD~1
	delcommit = reset --hard HEAD~1
