# ~/.inputrc
#
#   Single option config that allows tab completion
#   to do case insensitive matching since macOS has
#   a case insensitive filesystem.
#
#     Neel Yadav
#     06.29.2021

# Make tab completion do case insensitive matching since macOS
# has a case insensitive filesystem.
set completion-ignore-case on

# Not sure exactly why I put these two here or what they do but
# they're probably important for something I guess
"\e\e[D": backward-word
"\e\e[C": forward-word
