# ~/.config/git/dot.config (Linux server)
#
#   Pseudo-local git config for dotfiles repo.
#
#   This config file is conditionally included within the
#   global config (sibling to this file) specifically and
#   exclusively for the dotfiles repo. This convoluted
#   setup allows these configurations to act in a pseduo-
#   local manner such that the global config file itself
#   can provide the dotfiles repo with an additional set
#   of config args it requires, but in a way that can be
#   version controlled such that cloning the dotfiles to
#   a new machine doesn't require re-assembling and
#   remembering all the quirky git configs that allowed
#   it to fit into the reset of the setup holistically.
#
#   AKA: better plug'n'play-ability
#   (cloned from macOS branch)
#
#     Neel Yadav
#     04.08.2022

[core]
    repositoryformatversion = 0
    excludesFile = ~/.config/git/dot.ignore
    filemode = true
    bare = true

[status]
    showUntrackedFiles = no
